<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="brainWare" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=BrainWAre;Integrated Security=SSPI;AttachDBFilename=C:\Users\Jackie\Downloads\BrainWare-master\BrainWare-master\Web\App_Data\BrainWare.mdf" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On">
      <error statusCode="404" redirect="~/Shared/Error.cshtml" />
      <error statusCode="500" redirect="~/Shared/Error.cshtml" />
      <error statusCode="501" redirect="~/Shared/Error.cshtml" />
      <error statusCode="502" redirect="~/Shared/Error.cshtml" />
      <error statusCode="503" redirect="~/Shared/Error.cshtml" />
      <error statusCode="504" redirect="~/Shared/Error.cshtml" />
      <error statusCode="505" redirect="~/Shared/Error.cshtml" />
    </customErrors>
  </system.web>
</configuration>
